---
import { Image } from "astro:assets";
import banner from "../assets/banner.png";
import Background from "./Background";
---

<div class="hero min-h-screen overflow-hidden relative">
  <Background />
  <div class="hero-content flex-col lg:flex-row-reverse">
    <Image
      src={banner}
      alt="Leetcode Blog Banner Image"
      class="w-full max-w-sm rounded-lg"
    />
    <div>
      <h1 class="text-5xl font-bold">Cracking LeetCode</h1>
      <p class="py-6">
        By recording and sharing my answers with you, I'll guide you through the
        process, helping you build the confidence and skills.
      </p>
      <a href="/articles/">
        <button class="btn btn-primary">Get Started</button>
      </a>
    </div>
  </div>
</div>
