---
import { getCollection } from "astro:content";
import List from "../../../components/list";
import Sidebar from "../../../components/sidebar";
import Layout from "../../../layout/Layout.astro";
import type { Article } from "../../../type/type";
import { capitalizeFirstLetter } from "../../../utils/utils";

export function getStaticPaths() {
  return [
    { params: { difficulty: "easy" } },
    { params: { difficulty: "medium" } },
    { params: { difficulty: "hard" } },
    { params: { difficulty: "all" } },
  ];
}

const { difficulty } = Astro.params;

const title = `${capitalizeFirstLetter(difficulty)} Problems`;

const docs = await getCollection("articles");
const articles: { slug: string; data: Article }[] = docs
  .map((el) => ({
    slug: el.slug,
    data: {
      ...el.data,
      href: "/articles/" + el.slug,
    },
  }))
  .sort(
    (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
  );

const related =
  difficulty === "all"
    ? articles
    : articles.filter(
        (article) =>
          article.data.difficulty === capitalizeFirstLetter(difficulty),
      );

const tags = articles
  .flatMap((article) => article.data.tags)
  .filter((val, i, arr) => arr.indexOf(val) === i)
  .sort((a, b) => a.localeCompare(b));
---

<Layout title={title}>
  <section>
    <div class="mx-auto max-w-6xl px-4 sm:px-6">
      <div class="py-8 md:py-16">
        <div class="md:flex md:justify-between">
          <!-- Sidebar -->
          <Sidebar tags={tags} client:only="react" />
          <div class="md:grow">
            <List articles={related} />
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
