---
import Layout from "../../layout/Layout.astro";
export async function getStaticPaths() {
  const posts = await Astro.glob("../../articles/*.md");
  return posts.map((p) => ({
    // @ts-ignore: Object is possibly 'null'.
    params: { slug: p.file.split("/").pop().split(".").shift() },
    props: { post: p },
  }));
}

const { Content, frontmatter } = Astro.props.post;
const { title, description } = frontmatter;
const permalink = Astro.url.href;
---

<Layout title={title} description={description} permalink={permalink}>
  <div class="container mx-auto">
    <article
      class="content px-4 py-10 md:py-20 min-h-screen mx-auto prose lg:prose-xl"
    >
      <Content />
    </article>
  </div>
</Layout>

<style>
  h1 {
    color: red !important;
  }
</style>
