---
import Layout from "../layout/Layout.astro";

const title = "Notification";
const description = "What's new?";
const permalink = Astro.url.href;
---

<Layout title={title} description={description} permalink={permalink}>
  <div class="container mx-auto px-4 py-10 md:py-20 min-h-screen">
    <h1 class="text-5xl font-bold max-w-lg mx-auto">Notification</h1>
    <div class="flex flex-col my-12 md:my-24 max-w-lg mx-auto">
      <p class="text-lg leading-normal mb-8">
        Website Deploy Scheduled on 24/06/2023
      </p>
    </div>
  </div>
</Layout>
